/*
Author: Silvher
Date: June 7, 2020
*/
.admin-user{
    min-height: 500px;
}

.admin-contact{
    margin: auto;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (min-width: 740px) {
    .admin-contact{
        width: 50%;
    }
}

.panel-info{
    box-shadow:  5px 10px 18px #888888;
}

.panel-info > .panel-heading{
    color:white;
    background-image: linear-gradient(to bottom,#0041C2 0,#1569C7 100%)
}

.panel-info > .panel-body{
    padding: 30px 15px 0 15px;
}

.panel-body > form > div{
    margin-bottom: 25px;
}

.panel-body > form > div:last-child{
    float: right;
}
